// PUT CUSTOM SCSS / SASS HERE
#hidden_iframe, #submission-form{
  display: none;
}

.btn{
  font-family: 'Lato' !important;
  font-size: 12px;
  width: 219px !important;
  .valign-wrapper{
    margin-top: -12px;
    p{
      width: 100%;
    }
    i{
      padding-right: 7px;
    }
  }
}

.itunes{
  width: 150px;
}

.full-w{
  width: 100%;
}

.band-logo{
  margin-bottom: -10%;
  position: relative;
  margin-top: -2%;
}

h1,h2,h3,h4,h5,h6{
  margin: 0 auto;
}

body{
  background-color: black;
  color: white !important;
  font-family: 'Lucida Bright';
  text-transform: uppercase;
}

.album-cta{
  .valign{
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    width: 100%;
    text-shadow: 2px 4px 3px #000;
  }
}

.album-mini{
  margin-bottom: -28%;
  z-index: 9999;
  position: relative;
}

.album{
  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  margin-bottom: 45px;
  margin-left: 61px;
  margin-top: 16px;
  width: 90%;
}

.band-promo{
  margin-top: -14%;
  margin-bottom: -20%;
}

.cta{
  margin-top: 5%;
}

.email-cta, .cta, .email-cta{
  font-size: 25px;
  text-shadow: 2px 4px 3px #000;
  position: relative;
  z-index: 99999;
}

// media queries
@media (max-width: 1300px){
  .album{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .album-cta{
    .valign{
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      width: 100%;
      text-shadow: 2px 4px 3px #000;
      h4{
        font-size: 32px;
      }
    }
  }
  .band-promo{
    margin-top: -10%;
  }
}

@media (max-width: 1170px){
  .cta span, .email-cta span{
    display: block;
  }
}

// @media (min-width: 600px) and (max-width: 830px){
//   .btn{
//     font-size: 6px;
//   }
// }
@media (max-width: 992px){
  .album{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .album-cta{
    .valign{
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      width: 100%;
      text-shadow: 2px 4px 3px #000;
      h4{
        font-size: 20px;
      }
    }
  }
  .itunes{
    width: 100px;
  }
}


@media (max-width: 800px){
  .cta, .email-cta{
    font-size: 20px;
  }
  .album-cta{
    .valign{
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      width: 100%;
      text-shadow: 2px 4px 3px #000;
      h4{
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 615px){
  .album-cta{
    .valign{
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      width: 100%;
      text-shadow: 2px 4px 3px #000;
      h4{
        font-size: 12px;
      }
    }
  }
  .itunes{
    margin-top: 2%;
    width: 50px;
  }
  .itunes-valign{
    margin-top: -20%;
  }
}

@media (max-width: 600px){
  .album-cta{
    .valign{
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      width: 100%;
      text-shadow: 2px 4px 3px #000;
      h4{
        font-size: 32px;
      }
    }
  }
  .video-container{
    margin-top: 2%;
  }
  .itunes{
    margin-top: 2%;
    width: 150px;
  }
  .itunes-valign{
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media (max-width: 450px){
  .cta, .email-cta{
    font-size: 15px;
  }
}

input{
  background-color: rgba(255,255,255,0.2) !important;
}

input:not([type]){
  border-color: #fff;
}

input:not([type]):focus{
  border-bottom: 1px solid #B71C1C !important;
  -webkit-box-shadow: 0 1px 0 0 #B71C1C !important;
  -moz-box-shadow: 0 1px 0 0 #B71C1C !important;
  box-shadow: 0 1px 0 0 #B71C1C !important;
}

.fearless-logo{
  margin-top: 20px;
}

.margin-top{
  margin-top: 3%;
}

.video-container{
  border: 5px solid #C62828;
  box-shadow: 0px -2px 20px 5px rgba(255,255,255, 0.2);
}

.container-fluid{
  max-width: 1242px;
  margin: 0 auto;
}

.email-wrap, .btn{
  margin-top: 2%;
  margin-bottom: 2%;
}

.contest{
  margin-bottom: 2%;
}
