@font-face {
  font-family: 'Lucida Bright';
  src: url('../fonts/LucidaBright-Demi.eot');
  src: url('../fonts/LucidaBright-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LucidaBright-Demi.woff2') format('woff2'),
    url('../fonts/LucidaBright-Demi.woff') format('woff'),
    url('../fonts/LucidaBright-Demi.ttf') format('truetype'),
    url('../fonts/LucidaBright-Demi.svg#LucidaBright-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}
