<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <!-- Spotify  -->
      <h5>Spotify</h5>
      <p>Email Address</p>
      <input id="spotify-email">
      <div class="col s12 center-align">
        <button class="btn btn-primary" id="btn-follow">Follow On Spotify</button>
      </div>
    </div>
    <div class="col s12 m4">
      <!-- Twitter -->
      <h5>Twitter</h5>
      <p>Twitter Handle</p>
      <input id="twitter-handle" type="text">
      <p>Email Address</p>
      <input id="twitter-email" type="text">
      <div class="col s12 center-align">
        <a class="btn twitter-share"><i class="icon-twitter-sign icon-white"></i> Tweet</a>
      </div>
    </div>
    <div class="col s12 m4">
      <!-- Facebook -->
      <h5>Facebook</h5>
      <p>Email Address</p>
      <input id="facebook-email" type="text">
      <div class="col s12 center-align">
        <div class="btn fb-share-btn">share on fb</div>
      </div>
    </div>
  </div>
</div>
