<div id="header" class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h4 class="cta">SHARE “TOXIC” TO WIN INSTRUMENTS <span>USED IN THE MUSIC VIDEO</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2 center-align">
      <img class="full-w band-logo" src="https://s3.amazonaws.com/myfangate.com/myenemiesandi/bandlogo.png">
    </div>
  </div>
  <div class="row album-mini">
    <div class="col s12 m2 offset-m3 center-align">
      <img class="full-w album z-depth-2" onload="resizeAlbumCta()" src="https://s3.amazonaws.com/myfangate.com/myenemiesandi/albumart.jpg">
    </div>
    <div class="col s12 m5 center-align album-cta valign-wrapper">
      <div class="valign itunes-valign">
        <div class="avail">
          <h4 class="red-text text-darken-3">'SICK WORLD' EP</h4>
          <h4 class="red-text text-darken-3">AVAILABLE NOW</h4>
        </div>
        <a href="#" target="_blank"><img class="itunes" src="https://s3.amazonaws.com/myfangate.com/realfriends16/itunesbtn.png"></a>
      </div>
    </div>
  </div>
  <div class="row hide-on-small-only">
    <div class="col s12">
      <img class="full-w band-promo" src="https://s3.amazonaws.com/myfangate.com/myenemiesandi/bandpromo.jpg">
    </div>
  </div>
  <%= partial "partials/video" %>
</div>
