<form action="https://docs.google.com/forms/d/1EnsVI0552vSOjJbsUyY2dTpyunKQWiL5ql6BdgvmiAQ/formResponse" method="POST" target="_self" onsubmit="">
  <label>email address</label>
  <input type="text" name="entry.364763222">
  <label>facebook share</label>
  <input type="text" name="entry.1147067200">
  <label>twitter share</label>
  <input type="text" name="entry.1734780983">
  <label>spotify follow</label>
  <input type="text" name="entry.1521328113">
  <button>submit</button>
</form>
