<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "The Middleman" %></title>
<meta name="description" content="SHARE “TOXIC” TO WIN INSTRUMENTS USED IN THE MUSIC VIDEO" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="My Enemies and I - Toxic Sweepstakes">
<meta itemprop="description" content="SHARE “TOXIC” TO WIN INSTRUMENTS USED IN THE MUSIC VIDEO">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/myenemiesandi/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@meandiband">
<meta name="twitter:title" content="My Enemies and I - Toxic Sweepstakes">
<meta name="twitter:description" content="SHARE “TOXIC” TO WIN INSTRUMENTS USED IN THE MUSIC VIDEO">
<meta name="twitter:creator" content="@meandiband">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/myenemiesandi/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="My Enemies and I - Toxic Sweepstakes" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.myenemiesandi.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/myenemiesandi/shareimage.jpg" />
<meta property="og:description" content="SHARE “TOXIC” TO WIN INSTRUMENTS USED IN THE MUSIC VIDEO" />
<meta property="og:site_name" content="My Enemies and I - Toxic Sweepstakes" />
