<div class="container margin-top">
  <div class="row">
    <div class="col s12 center-align">
      <h4 class="email-cta">JOIN THE #TOXICVIDEO COMMUNITY</h4>
    </div>
  </div>
  <div class="row">
<!--     <div class="col s12 m6">
      <a class="twitter-timeline" href="https://twitter.com/hashtag/toxicvideo" data-chrome="transparent" data-widget-id="722511504642351104">#toxicvideo Tweets</a>
    </div>
    <div class="col s12 m6">
      <script src="http://snapwidget.com/js/snapwidget.js"></script><iframe src="https://snapwidget.com/p/widget/?id=LAc8ER2Vh6&t=605" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    </div> -->
    <div class="col s12">
      <div id="social-stream"></div>
    </div>
  </div>
</div>
