<div class="row video">
  <div class="col s12 m8 offset-m2">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/b1fMDFFcwFQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
