<div class="row video">
  <div class="col s12 m8 offset-m2">
    <div class="video-container z-depth-3 video">
      <iframe width="854" height="480" src="https://www.youtube.com/embed/M1w5UzzwEmA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 center-align email-wrap">
    <h4 class="email-cta">ENTER YOUR EMAIL AND SHARE <span>TO WIN EACH INSTRUMENT</span></h4>
  </div>
</div>
