---
title: Middleman 4 Boilerplate
---

<!-- SPOTIFY -->
<div class="container">
    <button class="btn btn-primary" id="btn-follow">Follow On Spotify</button>
</div>

<!-- twitter -->
<p>Put in twitter handle to run the check</p>
<label>Twitter Handle</label>
<input id="twitter-handle" type="text">
<label>Email Address</label>
<input type="text">
<a class="twitter-share" href="https://twitter.com/intent/tweet?url=https://t.co/gOZ8S8dDVW&text=This+Is+A+Cool+Tweet"><i class="icon-twitter-sign icon-white"></i> Tweet</a>

<!-- Facebook -->
<button class="share-btn">share on fb</button>
