---
title: Middleman 4 Boilerplate
---

<div class="container">
  <div class="row">
    <div class="col s4">
      <!-- Spotify  -->
      <h5>Spotify</h5>
      <label>Email Address</label>
      <input id="spotify-email">
      <button class="btn btn-primary" id="btn-follow">Follow On Spotify</button>
    </div>
    <div class="col s4">
      <!-- Twitter -->
      <h5>Twitter</h5>
      <label>Twitter Handle</label>
      <input id="twitter-handle" type="text">
      <label>Email Address</label>
      <input id="twitter-email" type="text">
      <a class="btn twitter-share"><i class="icon-twitter-sign icon-white"></i> Tweet</a>
    </div>
    <div class="col s4">
      <!-- Facebook -->
      <h5>Facebook</h5>
      <label>Email Address</label>
      <input id="facebook-email" type="text">
      <div class="btn fb-share-btn">share on fb</div>
    </div>
  </div>
</div>
<%= partial "partials/hiddenform" %>
