---
title: Middleman 4 Boilerplate
---

<div class="container">
  <div class="row">
    <div class="col s4">
      <!-- Spotify  -->
      <h5>Spotify</h5>
      <label>Email Address</label>
      <input id="spotify-email">
      <button class="btn btn-primary" id="btn-follow">Follow On Spotify</button>
    </div>
    <div class="col s4">
      <!-- Twitter -->
      <h5>Twitter</h5>
      <label>Twitter Handle</label>
      <input id="twitter-handle" type="text">
      <label>Email Address</label>
      <input type="text">
      <a class="twitter-share" href="https://twitter.com/intent/tweet?url=https://t.co/gOZ8S8dDVW&text=This+Is+A+Cool+Tweet"><i class="icon-twitter-sign icon-white"></i> Tweet</a>
    </div>
    <div class="col s4">
      <!-- Facebook -->
      <h5>Facebook</h5>
      <button class="share-btn">share on fb</button>
    </div>
  </div>
</div>
<%= partial "partials/hiddenform" %>
