---
title: Middleman 4 Boilerplate
---

<!-- PUT YOUR CONTENT FOR THE HOMEPAGE HERE -->
<!-- DELETE THIS -->
<!-- SPOTIFY -->
<div class="container">
    <h1>Follow a Playlist</h1>
    <p><label for="playlist-uri">Playlist URI</label>
    <input type="text" id="playlist-uri" value="spotify:user:spotify:playlist:1Hd6FKA6On582nMsfpoRTl"></input>
    </p>
    <button class="btn btn-primary" id="btn-follow">Follow On Spotify</button>
</div>

